body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    max-width: 500px;
    padding: 5rem 15px;
    margin: 0 auto;
}

h1, form {
    text-align: center;
    text-transform: uppercase;
}

.btn {
    padding: 5px 10px;
    background: #e96d71;
    border: 2px solid #e96d71;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
}

input {
    padding: 5px 15px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid #e96d71 !important;
}

.done {
    text-decoration: line-through;
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #e96d71;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
    left: 8px;
    animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
    left: 8px;
    animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
    left: 32px;
    animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
    left: 56px;
    animation: loader3 0.6s infinite;
}
@keyframes loader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
    }
    @keyframes loader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
    }
    @keyframes loader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}